Repository gkbiswas/hotel-reviews-microservice: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, goimports, go-vet, go-mod-tidy, go-test, golangci-lint

.pre-commit-config.yaml:

# Pre-commit hooks for code quality
repos:
  - repo: local
    hooks:
      # Go formatting
      - id: gofmt
        name: gofmt
        description: Run gofmt on Go source files
        entry: gofmt
        language: system
        args: [-w]
        files: \.go$
        
      # Go imports
      - id: goimports
        name: goimports
        description: Run goimports on Go source files
        entry: goimports
        language: system
        args: [-w]
        files: \.go$
        
      # Go vet
      - id: go-vet
        name: go vet
        description: Run go vet on Go source files
        entry: bash
        language: system
        args: [-c, 'go vet ./...']
        files: \.go$
        pass_filenames: false
        
      # Go mod tidy
      - id: go-mod-tidy
        name: go mod tidy
        description: Run go mod tidy
        entry: go
        language: system
        args: [mod, tidy]
        files: go\.(mod|sum)$
        pass_filenames: false
        
      # Go tests
      - id: go-test
        name: go test
        description: Run Go tests
        entry: go
        language: system
        args: [test, -short, ./...]
        files: \.go$
        pass_filenames: false
        
      # Golangci-lint (if available)
      - id: golangci-lint
        name: golangci-lint
        description: Run golangci-lint
        entry: bash
        language: system
        args: [-c, 'if command -v golangci-lint >/dev/null 2>&1; then golangci-lint run --config=.golangci.yml; else echo "golangci-lint not installed, skipping"; fi']
        files: \.go$
        pass_filenames: false

  # Generic hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
        exclude: \.md$
      - id: end-of-file-fixer
        exclude: \.md$
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: mixed-line-ending
        args: [--fix=lf]

  # Security scanning
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: go.sum
        
  # Docker linting
  - repo: https://github.com/hadolint/hadolint
    rev: v2.12.0
    hooks:
      - id: hadolint-docker
        files: Dockerfile.*

default_language_version:
  python: python3

feat: Complete comprehensive test suite fixes and quality improvements
  go.mod
  go.sum
  internal/application/auth_handlers.go
  internal/application/auth_handlers_comprehensive_test.go
  internal/application/auth_middleware.go
  internal/application/auth_middleware_test.go
  internal/application/cache_service_test.go
  internal/application/event_handlers_test.go
  internal/application/processor_test.go
  internal/domain/entities_test.go
  internal/domain/events_test.go
  internal/infrastructure/async_processor_test.go
  internal/infrastructure/auth.go
  internal/infrastructure/circuit_breaker_integration.go
  internal/infrastructure/circuit_breaker_integration_test.go
  internal/infrastructure/circuit_breaker_test.go
  internal/infrastructure/config_watcher.go
  internal/infrastructure/config_watcher_test.go
  internal/infrastructure/database_test.go
  internal/infrastructure/error_handler.go
  internal/infrastructure/infrastructure_test.go
  internal/infrastructure/jsonlines.go
  internal/infrastructure/kafka_test.go
  internal/infrastructure/middleware/base_middleware_test.go
  internal/infrastructure/protected_repository_test.go.bak
  internal/infrastructure/rate_limiter_test.go
  internal/infrastructure/redis_cache_service_test.go
  internal/infrastructure/redis_test.go
  internal/infrastructure/repository_test.go
  internal/monitoring/business_metrics.go
  internal/monitoring/health.go
  internal/monitoring/health_test.go
  internal/monitoring/metrics.go
  internal/monitoring/metrics_test.go
  internal/monitoring/monitoring.go
  internal/monitoring/monitoring_test.go
  internal/monitoring/tracing.go
  internal/monitoring/tracing_test.go
Due: gofmt, goimports, go-vet, go-mod-tidy, go-test, golangci-lint

docs: Update enterprise assessment scores across all documentation
  EXECUTIVE_SUMMARY.md
  INTEGRATION_TESTS_SUMMARY.md
  README.md
Due: none

fix: Resolve CI/CD pipeline failures
  .github/workflows/ci.yml
  cmd/migrate/main.go
  hotel-reviews.log
Due: gofmt, goimports, go-vet, go-test, golangci-lint

fix: Resolve build errors and import issues
  go.mod
  go.sum
  hotel-reviews.log
  internal/analytics/processors.go
  internal/events/handlers.go
  internal/events/sagas.go
Due: gofmt, goimports, go-vet, go-mod-tidy, go-test, golangci-lint

fix: Improve database migration robustness
  cmd/migrate/main.go
  hotel-reviews.log
Due: gofmt, goimports, go-vet, go-test, golangci-lint

fix: Resolve infrastructure test failures
  internal/infrastructure/circuit_breaker.go
  internal/infrastructure/circuit_breaker_test.go
  internal/infrastructure/rate_limiter_test.go
  internal/infrastructure/repository.go
  internal/infrastructure/repository_test.go
Due: gofmt, goimports, go-vet, go-test, golangci-lint

feat: Add complete multi-region infrastructure with Terraform IaC
  README.md
  docs/DEPLOYMENT_GUIDE.md
  docs/INFRASTRUCTURE_STATUS.md
  docs/multi-region-architecture.md
  hotel-reviews.log
  infrastructure/terraform/main.tf
  infrastructure/terraform/modules/region/alb.tf
  infrastructure/terraform/modules/region/database.tf
  infrastructure/terraform/modules/region/eks.tf
  infrastructure/terraform/modules/region/main.tf
  infrastructure/terraform/modules/region/outputs.tf
  infrastructure/terraform/modules/region/user_data.sh
  infrastructure/terraform/modules/region/variables.tf
  infrastructure/terraform/outputs.tf
  infrastructure/terraform/variables.tf
Due: none

docs: Add comprehensive code review submission document
  CODE_REVIEW_SUBMISSION.md
Due: none

docs: Update author attribution and contact information
  CODE_REVIEW_SUBMISSION.md
  docs/DEPLOYMENT_GUIDE.md
  docs/INFRASTRUCTURE_STATUS.md
  docs/adr/001-clean-architecture-adoption.md
  docs/adr/002-dependency-injection-strategy.md
  docs/adr/003-error-handling-strategy.md
  docs/adr/004-data-storage-strategy.md
  docs/adr/005-testing-strategy.md
  docs/adr/006-api-design-principles.md
  docs/api/errors.md
  docs/api/index.md
  docs/api/rate-limiting.md
  docs/api/sdk-generation.md
  hotel-reviews.log
Due: none

feat: Add complete Kubernetes manifests and missing documentation
  hotel-reviews.log
  infrastructure/terraform/prod.tfvars
  k8s/addons/aws-load-balancer-controller.yaml
  k8s/base/namespace.yaml
  k8s/manifests/primary/hotel-reviews-deployment.yaml
  k8s/manifests/secondary/hotel-reviews-deployment.yaml
  k8s/manifests/tertiary/hotel-reviews-deployment.yaml
  monitoring/cloudwatch-dashboard.json
Due: none

docs: Complete comprehensive documentation suite
  CONTRIBUTING.md
  LICENSE
  docs/api.md
  docs/codegen.md
  docs/development.md
  docs/performance.md
  docs/schema.md
  docs/testing.md
  examples/async-processing.md
  examples/caching.md
  examples/load-testing.md
  examples/monitoring.md
  examples/security.md
  examples/tutorial.md
Due: none

docs: Update support email to gkbiswas@gmail.com
  README.md
Due: none

fix: Update documentation link to GitHub repository
  README.md
Due: none

docs: Update improvement roadmap based on current achievements
  IMPROVEMENT_ROADMAP.md
Due: none

docs: Add comprehensive Kafka async processing architecture diagrams
  docs/diagrams/async-event-architecture.mmd
  docs/diagrams/async-processing-sequence.mmd
  docs/diagrams/event-lifecycle-state.mmd
  docs/diagrams/kafka-component-interaction.mmd
  docs/diagrams/kafka-partitioning-strategy.mmd
Due: none
